<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- Import Tailwind lewat CDN -->
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Belajar Tailwind</title>
</head>

<!-- bg-gray-100 = background abu muda -->
<body class="bg-gray-100">
<nav class="flex justify-between items-center bg-amber-50 p-4 shadow-md">
    <h1 class="text-xl font-bold text-blue-600">
        MyWebsite
    </h1>
    <div class="hidden md:block space-x-4">
        <a href="#" class="hover:text-blue-500">Home</a>
        <a href="#" class="hover:text-blue-500">About</a>
        <a href="#" class="hover:text-blue-500">Contact</a>
    </div>
</nav>

</body>
</html>